@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

header{
    background-color: black;
    border-bottom: 2px solid #32b9cd;
    padding: 15px 0;
}

.container{
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;

}

.container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 350px;
    color: #efb661;
    font-weight: 700;
    font-size: 12px;
}

.titulo{
    color: #32b9cd;
    font-size: 14px;
}

.banner{
    background-image: url(assets/img/bg-jelly-fish-para_outras_pags.png);
    padding: 100px 0;
    background-size: cover;
}

.banner .container{
    height: 350px;
    justify-content: center;
    align-items: center;

}

.banner p{
    color: white;
    width: 280px;
    font-size: 36px;

}

.social{
    margin: 50px 0;
}

.social .container{
    display: block;
}

.caixas{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.caixa img{
    width: 170px;
}

.caixa h4{
    margin: 15px 0;
    color: #e6005a;
}

.caixa p{
    width: 150px;
    text-align: center;
}

footer{
    background-color: #32b9cd;
    padding: 45px 0;
}

footer .container{
    justify-content: center;
    color: white;
}